.body-container {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  padding: 100px;
}

.flex-container-row {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-col {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

h5 {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(87, 87, 87);
}

a:hover {
  text-decoration: underline;
}
